{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card mx-auto mt-5v text-center mt-5" style="width: 50rem;">
    <div class="card-body">
        <h1 class="card-title">Are you really want to delete?</h1>
        {% if not product.image %}
            <img src="{% static 'product_images/no-photo.jpg' %}" class="w-75 h-75" alt="Image" />
        {% else %}
            <img src="{{product.image.url}}" class="w-75 h-75" alt="static/product_images/no-photo.jpg" />
        {% endif %}
        <h5 class="card-title">Name: {{product.name}}</h5>
        <p class="card-text">Description: {{product.description}}</p>
        <p class="card-text">Category: {{product.category}}</p>
        <div class="text-center">
            <form action="{% url 'product_confirm_delete' product.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Yes</button>
                <a class="btn btn-primary" href="{% url 'index'%}">No</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}